<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog11</title>
    <%= csrf_meta_tags %>




    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="/assets/stylesheets.application.css.scss" rel="stylesheet">
    <link href="/assets/stylesheets.bootstrap.min.css" rel="stylesheet">
    <link href="/assets/stylesheets.mdb.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src='/assets/javascripts/jquery-2.2.3.min.js'></script>
    <script src='/assets/javascripts/jquery-3.1.1.min.js'></script>
    <script src='/assets/javascripts/mdb.min.js'></script>
    <script src='/assets/javascripts/tether.min.js'></script>
    <script src='/assets/javascripts/application.js'></script>
    <script src='/assets/javascripts/bootstrap.min.js'></script>

  </head>

  <body>
  	<%= render 'layouts/header' %>

    <div id="separator_bar"></div>

   <div class="layout_container"> <%= yield %> </div>

    
  </body>
</html>
